<h1>New Product</h1>
<%= form_for @product do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br />
  <%= f.label :price %>
  <%= f.text_field :price %>
  <br />
  <%= f.label :description %>
  <%= f.text_area :description %>
  <br />
  <%= f.label :inventory %>
  <%= f.text_field :inventory %>
  <%= f.submit "submit" %>
<% end %>

<div id="productResult">
  <h2 id="productName"></h2>
  <p id="productPrice"></p>
  <p id="productDescription"></p>
  <p id="productInventory"></p>
</div>

<script type="text/javascript" charset="utf-8">
  $(function() {
    $('form').submit(function(e) {

      // Prevents the form from submitting via HTML when the client clicks submit (a forms default action)
      e.preventDefault();

      // Serializes the inputted from data, e.g. :
        // 'utf8=...authenticity_token=...&product%5Bname%5D=Macbook&product%5Bprice%5D=1500&product%5Bdescription%5D=cool&product%5Binventory%5D=3'
      var formData = $(this).serialize();

      var postProduct = $.post("/products",formData);

      postProduct.done(function(data) {
        $("#productName").html(data["name"]);
        $("#productPrice").html(data["price"]);
        $("#productDescription").html(data["description"]);
        $("#productInventory").html(data["inventory"]);
      });
    });
  });
</script>
